
@media (max-width: 768px) {
    .hero-content>p{
        font-size: 40px;
    }
    .comments-section {
        width: 80%;
        margin-left: 5%;
    }
    .order-section {
        width: 80%;
        margin-left: 5%;
    }
    .testimonials {
        width: 80%;
        margin-left: 5%;
    }
    .featured {
        width: 80%;
        margin-left: 5%;
    }
}

@media (max-width: 480px) {
    .main__new {
        width: 100%;
    }
}